/*css가 전체 파일에 적용되서 중복 코드는 삭제함*/
@font-face {
  font-family: "Nanum Pen Script";
  font-weight: 300;
  src: url("./font/NanumPenScript-Regular.ttf");
}
body {
  font-family: "Nanum Pen Script";
}
@font-face {
  font-family: "Nanum Myeongjo";
  font-weight: 150;
  src: url("./font/NanumMyeongjo-Regular.ttf");
}
tr {
  font-family: "Nanum Myeongjo";
}

/*비밀번호 변경하는 공간*/
.text {
  width: 200px;
  height: 30;
  background-color: #fffaf0;
  border: 3px solid #000;
  border-radius: 5px;
}
/* 저장 버튼*/
.fin-wrap {
  display: inline-block;
  width: 70px;
  height: 20px;
  margin-left: 300px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  color: white;
  background-color: #000;
}
