* {
  background: #fffaf0;
}
@font-face {
  font-family: "Nanum Pen Script";
  font-weight: 300;
  src: url("./font/NanumPenScript-Regular.ttf");
}
body {
  font-family: "Nanum Pen Script";
}
@font-face {
  font-family: "Nanum Myeongjo";
  font-weight: 150;
  src: url("./font/NanumMyeongjo-Regular.ttf");
}

tr {
  font-family: "Nanum Myeongjo";
}
.container {
  height: 80px;
  line-height: 80px;
}
.nav-main {
  font-size: 35px;
  float: left;
  margin-left: 10px;
  color: forestgreen;
}
.nav-log {
  list-style-type: none;
  color: forestgreen;
}
div.nav-log > h1 {
  float: right;
  margin-right: 25px;
  font-size: 30px;
  font-weight: bold;
}
.navname {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding-left: 150px;
}
nav::after {
  content: "";
  display: block;
  clear: both;
}
.sec-box {
  width: 700px;
  height: 500px;
  margin: auto;
  font-size: 15px;
  margin-top: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}
.sec-main {
  font-size: 30px;
  text-align: center;
}
.sec-img {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
  display: block;
  margin: auto;
}
.sec-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
  margin-top: 30px;
}
th,
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  background-clip: padding-box;
  scroll-snap-align: start;
}
tbody th {
  color: white;
  background-color: forestgreen;
  font: bold;
}
th {
  margin-right: 20px;
}
h2 {
  font-size: 20px;
  text-align: center;
}
.sec-wrap {
  display: inline-block;
  width: 70px;
  height: 20px;
  margin-left: 300px;
  padding: 10px;
  border: 3px solid #000;
  border-radius: 2px;
  color: #000;
  background-color: #fffaf0;
}
